$classical: #fc8d59;
$folk: #91cf60;

h2 {
    font-size: 24px;
}

form {
    margin-bottom: 15px;
}

#filters {
    margin-bottom: 10px;
    text-align: center;
    p {
        border: 3px solid $classical;
        padding: 5px;
        border-radius: 10px;
        font-size: 18px;
        font-weight: 500;
    }
    p#everything_else {
        border-color: $folk;
        background: lighten($folk, 38%);
        @include transition(all 0.25s);
        &:hover {
            background: lighten($folk, 20%);
        }
    }
    p#just_classical {
        background: lighten($classical, 30%);
        @include transition(all 0.25s);
        &:hover {
            background: lighten($classical, 20%);
        }
    }
    .classical_active {
        background: $classical !important;
    }
    .everything_active {
        background: $folk !important;
    }
}

div.festival {
    position: relative;
    margin-bottom: 20px;
    .headline, .detail {
        background: white;
        padding: 10px;
    }
    .headline {
        position: relative;
        margin-bottom: 3px;
    }
    p.dates {
        margin-bottom: 0;
        font-weight: 500;
        color: $gray;
    }
    h2 {
        a {
            color: $blue;
            border-bottom: 0;
            &:hover {
                border-bottom: 2px solid lighten($blue, 5%);
            }
        }
        margin-top: 0;
        margin-bottom: 0.1em;
    }
    p.location {
        color: lighten($gray, 10%);
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 0;
    }
}

div.past .headline{
    background: #f3f0e7;
}

.classical .headline, .classical .detail {
    border-left: 5px solid $classical;
}

.folk .headline, .folk .detail {
    border-left: 5px solid $folk;
}

.detail {
    font-size: 12px;
    .festival_website, .festival_location {
        font-size: 18px;
        font-weight: 500;
        a {
            font-size: 14px;
            color: $blue;
            &:hover {
                color: darken($blue, 10%);
            }
        }
    }
    .event_address {
        margin-bottom: 0;
    }
    .festival_location {
        margin-bottom: 5px;
        color: $black;
        span {
        }
    }
    p.view_map {
        color: $blue;
        span {
            margin-right: 3px;
        }
    }
}

.hidden {
    display: none;
}

.detail_prompt {
    position: absolute;
    bottom: 0;
    right: 20px;
    font-size: 12px;
    font-weight: 700;
    color: $gray;
}
