<nav class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <h3 id="vpr"><a href="http://www.vpr.net">Vermont Public Radio</a></h3>
        </div>
        {% if social %}
        <div id="social_logos">
            <a id="share" class="sFacebook" href="https://www.facebook.com/dialog/feed?app_id=282283015178&picture={{ social.img|urlencode }}&name={{ social.title|urlencode }}&caption={{ social.subtitle|urlencode }}&description={{ social.description|urlencode }}&redirect_uri={{ page_url|urlencode }}" target="_blank">
                <span class="icon ion-social-facebook"></span></a>
            <a id="share" class="sTwitter" href="http://www.twitter.com/intent/tweet?url={{ page_url|urlencode }}&text={{ social.twitter_text|urlencode }}&via=vprnet&hashtags={{ social.twitter_hashtag|urlencode }}" target="_blank">
                <span class="icon ion-social-twitter"></span></a>
            <a id="share" class="sGoogle" href="https://plus.google.com/share?url={{ page_url|urlencode }}" target="_blank">
                <span class="icon ion-social-googleplus" target="_blank"></span></a>
        </div>
        {% endif %}
    </div>
</nav>
