{% extends "base.html" %}

{% block title %}{{ page_title }} | VPR{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <form id="search_for_festival" class="input-group">
                <input type="text" class="form-control" placeholder="Enter Festival Name">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Search</button>
                </span>
            </form>
            <p><a href="#" id="remove_past">Remove Past Festivals</a> | <a href="#" id="just_classical">Just Classical</a> | <a href="#" id="everything_else">Everything Else</a></p>
            <div id="festivals">
                {% for festival in festivals %}
                <div class="festival {{ festival.genre|lower }}{% if festival.past %} past{% endif %}">
                    <p class="dates">
                    {% if not festival.past %}
                    {{ festival.start_date.strftime('%B %d') }}
                    {% if festival.start_date != festival.end_date %}
                    &mdash; {{ festival.end_date.strftime('%B %d') }}
                    {% endif %}
                    {% else %}
                    Festival Over
                    {% endif %}
                    <h2><a href="{{ festival.website }}">{{ festival.name }}</a></h2>
                    <p class="location">{{ festival.city|title }}{% if festival.state %}, {{ festival.state }}{% endif %}</p>
                    <p class="detail_prompt">DETAILS <i class="icon ion-plus-circled"></i></p>
                    <div class="detail">
                    {% for event in festival.events %}
                        <p class="dates{% if event.past %} past_event{% endif %}">
                            {{ festival.start_date.strftime('%B %d') }}
                            {% if festival.start_date != festival.end_date %}
                            &mdash; {{ festival.end_date.strftime('%B %d') }}
                            {% endif %}
                        </p>
                        <p class="event_address">
                            {{ event.address }} // {{ event.city }},
                            {{ event.state }}</p>
                    {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
