{% extends "base.html" %}

{% block title %}{{ page_title }} | VPR{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>Summer Music Festivals 2014</h1>
            <form id="search_for_festival" class="input-group">
                <input type="text" class="form-control" placeholder="Enter Festival Name">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button">Search</button>
                </span>
            </form>
            <div id="filters" class="row">
                <div class="col-xs-6">
                    <p class="pill" id="just_classical">Just Classical</p>
                </div>
                <div class="col-xs-6">
                    <p class="pill" id="everything_else">Everything Else</p>
                </div>
            </div>
            <div id="festivals">
                {% for festival in festivals %}
                <div class="festival{% if festival.past %} past{% endif %}">
                    <div class="headline {{ festival.genre|lower }}">
                        <p class="dates">
                        {% if not festival.past %}
                        {{ festival.start_date.strftime('%B %-d') }}
                        {% if festival.start_date != festival.end_date %}
                        &mdash; {{ festival.end_date.strftime('%B %-d') }}
                        {% endif %}
                        {% if festival.ongoing %}(underway){% endif %}
                        {% else %}
                        You Missed It! ({{ festival.start_date.strftime('%B %-d') }} - {{ festival.end_date.strftime('%B %-d') }})
                        {% endif %}
                        <h2>{{ festival.name }}</h2>
                        <p class="location">{{ festival.city|title }}{% if festival.state %}, {{ festival.state }}{% endif %}</p>
                    </div>
                    <div class="detail closed {{ festival.genre|lower }} events_{{ festival.events|length }}">
                        <p class="detail_prompt">DETAILS <i class="icon ion-ios7-plus"></i></p>
                        <p class="festival_website"><a href="{{ festival.website }}">Festival Website</a></p>
                        <p class="festival_location"><span>{% if festival.events|length > 1%}Locations &amp; Dates{% else %}Location{% endif %}</span></p>
                        {% for event in festival.events %}
                            <div class="event">
                                {% if festival.events|length > 1 %}
                                <p class="dates{% if event.past %} past_event{% endif %}">
                                    {{ event.start_date.strftime('%B %-d') }}
                                    {% if event.start_date != event.end_date %}
                                    &mdash; {{ event.end_date.strftime('%B %-d') }}
                                    {% endif %}
                                </p>
                                {% endif %}
                                <p class="event_address">
                                    {{ event.address }} // {{ event.city }},
                                    {{ event.state }}</p>

                                <p class="view_map"><span class="icon ion-ios7-location"></span> <a href="http://maps.google.com?q={{ event.address }}, {{ event.city }}, {{ event.state }}" alt="Map to {{ festival.name }}">view map</a></p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-4">
            {% include "_underwriter.html" %}
            {% include "_marcomm.html" %}
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock %}
